/* Global*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  --header1: calc(2rem + 1vw);
  --header2: calc(3.5rem + 1vw);
  --header3: calc(3rem + 1vw);
  --header4: calc(2.4rem + 1vw);
  --header5: calc(3rem + 1vw);
  --text: calc(1.5rem + 1vw);
  --big: calc(6rem + 1vw);
  scroll-behavior: smooth;
  color: rgb(20, 20, 20);
}

h1 {
  font-size: var(--header1);
}
li,
button,
label,
input,
p,
a {
  font-size: var(--text);
}
h2 {
  font-size: var(--big);
}
h3 {
  font-size: var(--header3);
}
h4,
h5 {
  font-size: var(--header4);
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: rgb(20, 20, 20);
}
.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body {
  font-family: "Ruh1", sans-serif;
  animation: opening 1s ease-in-out;
}

/* NAV SECTION */

#logo {
  position: absolute;
  top: 20px;
  left: 5%;
  font-family: "La Belle Aurore", cursive;
}

#logo a {
  font-size: var(--header5);
}

.burger {
  position: absolute;
  display: block;
  cursor: pointer;
  top: 35px;
  right: 5%;
  z-index: 1;
}
.burger span {
  padding: 0.2rem 2rem;
  background: white;
  margin: 0.5rem 0rem;
  display: block;
  transition: all 0.5s ease;
}
.hero {
  min-height: 100vh;
  width: 100%;
  margin: 0 0 0 auto;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
.hero-introduction {
  align-items: center;
  justify-content: center;
  flex: 2 1 40rem;
  text-align: center;
  margin-top: 5rem;
}
.hero-introduction p {
  margin: 1rem 0rem 5rem 0rem;
}
.hero-introduction h2 {
  padding-top: 3rem;
}
.hero-introduction a {
  padding: 1rem 5rem;
  border: 3px solid rgb(20, 20, 20);
  margin-bottom: 4rem;
  transition: all 0.2s ease-in-out;
}
.hero-introduction a:hover {
  transform: scale(1.1);
}
.hero-image {
  flex: 1 1 30rem;
}
.hero-shina {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* burger Thing */

.nav-links a {
  color: white;
  font-size: var(--header3);
  text-decoration: underline;
}

.nav-links {
  background: rgb(20, 20, 20);
  color: rgb(20, 20, 20);
  width: 38%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;
  transition: transform 1s ease;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.nav-open {
  transform: translateX(-100%);
  background: rgb(20, 20, 20);
  z-index: 1;
}
.toggle .line1 {
  transform: rotateZ(45deg) translateY(300%);
  background: white;
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotateZ(-45deg) translateY(-300%);
  background: white;
}

/* media screen */

@media screen and (max-width: 1672px) {
  .nav-links {
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  .hero {
    width: 100%;
  }
  .hero-introduction {
    align-items: center;
    margin-top: 10rem;
    margin-left: 0;
    margin-bottom: 0;
    overflow: none;
  }

  .color-change {
    background: white;
  }

  /* burger Thing */

  .burger span {
    background: rgb(20, 20, 20);
  }

  .nav-links a {
    color: white;
    font-size: var(--header3);
    text-decoration: underline;
  }

  .nav-links {
    background: rgb(20, 20, 20);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    transition: transform 1s ease;
    display: flex;
    justify-items: center;
    align-items: center;
  }

  .nav-open {
    transform: translate(-100%);
  }
  .toggle .line1 {
    transform: rotateZ(45deg) translateY(300%);
    background: white;
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotateZ(-45deg) translateY(-300%);
    background: white;
  }
}

/* ANIMATIONS */

@keyframes opening {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
